---
import { type Firm } from "@/libs/data/firms";
import TitleInfo from "./TitleInfo.astro";

interface Props {
  firm: Firm;
  hq: string;
  foundation: string;
  ceo: string;
}

const { firm, hq, foundation, ceo } = Astro.props;
---

<div class="info-section">
  <h2
    style="background: linear-gradient(to right, #454545, #929292); -webkit-background-clip:text;"
    class="gradient-title-sm text-left w-full mb-[10px]"
  >
    Información de la empresa
  </h2>
  <hr class="mb-[20px]" />
  <div class="info-grid">
    <div class="info-cell">
      <TitleInfo title="Sede" />
      <p class="info-cell-text">{hq}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="Fundación" />
      <p class="info-cell-text">{foundation}</p>
    </div>
    <div class="info-cell">
      <TitleInfo title="CEO" />
      <p class="info-cell-text">{ceo}</p>
    </div>
  </div>
</div>
