---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="text-orange lgtext-2xl text-xl mt-[10px] border-[2px] border-[#FFF] bg-[#FFF] rounded-[5px] p-[5px] shadow-[0_2px_3px_2px_rgba(50,50,0,0.1)]"
>
  {title}
</div>
