---
interface Props {
  name: string;
  shortDescription?: string;
  id: string;
}

const { name, shortDescription, id } = Astro.props;
---

<a
  href={`/selecciones/${id}`}
  class="h-full bg-[#FFFFFF] p-6 hover:shadow-[0_0_10px_2px_rgba(217,86,19,1)] cursor-pointer"
>
  <p class="text-xl mb-4 font-bold">{name}</p>
  {
    shortDescription && (
      <p class="text-base text-medium-grey">{shortDescription}</p>
    )
  }
</a>
