---
import { formatDate } from "@/utils.ts";

interface Props {
  discount?: number;
  description?: string;
  benefits?: string[];
  code?: string;
  endDate?: Date;
  isNoPromo?: boolean;
}

const { discount, description, code, endDate, isNoPromo, benefits } =
  Astro.props;
---

<section class="design-section text-center w-full">
  {
    isNoPromo ? (
      <div class="xl:text-2xl sm:text-xl xs:text-lg text-base">
        No hay ningúna promoción actualmente para esta empresa de fondeo.
      </div>
    ) : (
      <div class="grid grid-cols-6 gap-[20px]">
        <div class="lg:col-span-2 sm:col-span-3 col-span-6 cell">
          <div class="text-medium-grey">Consigue un descuento del</div>
          <div class="flex justify-center items-center flex-1">
            <div class="xl:text-5xl lg:text-4xl md:text-5xl text-green xs:text-4xl text-3xl">
              {discount}%
            </div>
          </div>
        </div>
        <div class="lg:col-span-2 sm:col-span-3 col-span-6 cell">
          <div class="text-medium-grey">Finaliza el</div>
          <div class="flex justify-center items-center flex-1">
            <div class="xl:text-3xl lg:text-2xl md:text-3xl xs:text-3xl text-xl">
              {endDate && formatDate(endDate)}
            </div>
          </div>
        </div>
        <div class="lg:col-span-2 col-span-6 cell">
          <div class="text-medium-grey">Introduce el código</div>
          <div class="flex justify-center items-center flex-1">
            <div class="xl:text-3xl lg:text-2xl md:text-3xl xs:text-3xl text-xl">
              {code}
            </div>
          </div>
        </div>
        {benefits &&
          benefits.map((benefit, index) => {
            return benefits.length % 2 != 0 && index === benefits.length - 1 ? (
              <div class="col-span-6 cell xl:text-lg text-base">{benefit}</div>
            ) : (
              <div class="sm:col-span-3 col-span-6 cell xl:text-lg text-base">
                {benefit}
              </div>
            );
          })}
      </div>
    )
  }
</section>
<style>
  .cell {
    @apply p-[20px] bg-[#FFF] shadow-md rounded-xl flex flex-col justify-between items-center gap-[10px];
  }
</style>
