---
import { type TypeList } from "@/types.ts";

interface Props {
  name: string;
  shortDescription?: string;
  id: string;
  type?: TypeList;
  shadowColor?: "blue" | "green" | "grey" | "orangeFull";
}

const { name, shortDescription, id, shadowColor } = Astro.props;

let shadowClass = "hover:shadow-[0_0_10px_2px_rgba(217,86,19,0.5)] ";
if (shadowColor === "blue")
  shadowClass = "hover:shadow-[0_0_10px_2px_rgba(86,84,188,0.5)]";
else if (shadowColor === "green")
  shadowClass = "hover:shadow-[0_0_10px_2px_rgba(70,130,59,0.5)]";
else if (shadowColor === "orangeFull")
  shadowClass = "hover:shadow-[0_0_10px_2px_rgba(217,86,19,1)]";
else if (shadowColor === "grey")
  shadowClass = "hover:shadow-[0_0_10px_2px_rgba(69,69,69,0.5)]";
---

<a
  href={`/lists/${id}`}
  class={`${shadowClass} flex gap-[15px] shadow-md cursor-pointer rounded-xl h-full bg-[#FFFFFF] p-6 duration-300 ease-in-out`}
>
  <img src="/icons/bullet-list.svg" class="h-[30px]" />
  <div>
    <p class="xl:text-xl text-lg font-bold">{name}</p>
    {
      shortDescription && (
        <p class="text-base text-medium-grey mt-4">{shortDescription}</p>
      )
    }
  </div>
</a>
