---
import { type Firm } from "@/libs/data/firms";

interface Props {
  firm: Firm;
  key: string;
}

const { firm, key } = Astro.props;
---

<a
  href={`/promociones/${key}`}
  class="w-full scale-100 hover:scale-105 ease-in-out duration-300 transform shadow-lg"
>
  <img src={firm.logoText} class="rounded-xl" />
</a>
