---
import { type Firm } from "@/libs/data/firms";
import { promotions } from "@/libs/data/promotions";

interface Props {
  firm: Firm;
  key: string;
}

const { firm, key } = Astro.props;
---

<a
  href={`/promociones/${key}`}
  class={`w-full shadow-lg relative rounded-xl overflow-hidden`}
>
  {
    promotions[key].length === 0 ? (
      <div>
        <img src={firm.logoText} class="rounded-xl opacity-5" />
        <div class="w-full h-full flex absolute z-30 items-center justify-center inset-0">
          <p class="text-xl w-full text-center text-medium-grey">
            Sin promociones
          </p>
          </div>
      </div>
    ) : (
      <img
        src={firm.logoText}
        class={`rounded-xl  ease-in-out duration-300 transform ${promotions[key].length > 0 ? "hover:scale-105" : "cursor-auto"}`}
      />
    )
  }
</a>
