---
import {
  featureList,
  instrumentList,
  softwareList,
  brokerList,
} from "@/libs/data/lists";
import GridContainer from "@/components/lists/GridContainer.astro";
---

<div
  class="flex flex-col lg:gap-[40px] md:gap-[30px] gap-[20px] responsive-section margin-section"
>
  <GridContainer
    lists={featureList}
    type="feature"
    title="Reglas y características"
    startColor="#D95613"
    endColor="#d3a717"
  />
  <GridContainer
    lists={instrumentList}
    type="instrument"
    title="Instrumentos"
    endColor="#649cef"
    startColor="#5654bc"
    shadowColor="blue"
  />
  <GridContainer
    lists={softwareList}
    type="software"
    title="Software"
    startColor="#46823b"
    endColor="#38c168"
    shadowColor="green"
  />
  <GridContainer
    lists={brokerList}
    type="broker"
    title="Broker"
    startColor="#454545"
    endColor="#828282"
    shadowColor="grey"
  />
</div>
