---
import { disclaimer } from "@/libs/data/legal";
import { Image } from "astro:assets";
import logo from "../../../public/icons/The-GodFunded-logo-light.svg";
---

<div class="bg-dark-grey w-full text-[#FFF] flex justify-center">
  <div
    class="responsive-section margin-section w-full flex flex-col lg:flex-row items-center gap-[40px] xl:gap-[80px] py-[30px]"
  >
    <p
      class="lg:text-left text-[0.7rem] xl:text-xs lg:pr-[30px] pr-0 text-center"
    >
      {disclaimer}
    </p>
    <ul
      class="grid basis-full lg:gap-[10px] gap-[20px]
      lg:grid-cols-2 xs:grid-cols-2 grid-cols-1
      sm:grid-flow-col sm:auto-cols-max lg:grid-flow-row lg:auto-cols-auto"
    >
      <li><a href="/">Home</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/promociones">Promociones</a></li>
      <li><a href="/listas">Listas</a></li>
    </ul>
    <div class="flex flex-col gap-[10px] basis-full">
      <a href="/" class="flex justify-end">
        <Image src={logo} alt="Logo The God Funded" class="h-auto w-[400px]" />
      </a>
      <div class="flex flex-row lg:justify-end justify-center gap-[20px]">
        <a href="/politica-de-privacidad"
          ><p class="text1">Política de privacidad</p></a
        >
        <a href="/condiciones-de-uso"><p class="text1">Condiciones de uso</p></a
        >
      </div>
    </div>
  </div>
</div>
<style>
  .text1 {
    @apply text-xs;
    @apply xl:text-base;
  }
  li {
    @apply text-xl;
    @apply lg:text-base;
    @apply xl:text-xl;
    @apply text-center;
    @apply lg:justify-end;
  }
</style>
