---
import { disclaimer } from "@/libs/data/legal";
---

<div
  class="bg-dark-grey h-[140px] w-full text-[#FFF] flex flex-col items-center gap-[20px] p-[20px]"
>
  <p class="text-center w-[1000px] text-xs">{disclaimer}</p>
  <div class="flex flex-row justify-between w-[600px]">
    <p>Política de privacidad</p>
    <p>Condiciones de uso</p>
  </div>
</div>
