---
import { Image } from "astro:assets";
import logo from "../../../public/icons/The-GodFunded-logo.svg";
---

<div
  class="flex bg-[#e9e9e9] w-full md:h-[70px] lg:h-[90px] justify-between flex-col md:flex-row gap-x-[20px]"
>
  <input type="checkbox" id="toggle" class="hidden peer" />
  <div class="flex md:justify-start justify-between gap-[20px] w-full">
    <a href="/">
      <Image src={logo} alt="Logo" class="p-4 ml-[10px] md:h-full w-full" />
    </a>
    <label for="toggle" class="md:hidden mr-6 flex items-center">
      <div class="burguer"></div>
    </label>
  </div>
  <ul
    class="flex-col md:flex-row self-center mr-[40px] lg:gap-x-[40px] gap-x-[30px]
  text-lg lg:text-xl text font-bold text-[#212121] bg-light-grey md:bg-opacity-0
  hidden md:flex peer-checked:flex"
  >
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/selecciones">Selecciones</a></li>
    <li><a href="/promociones">Promociones</a></li>
    <li>Guías</li>
  </ul>
</div>

<script></script>

<style>
  li {
    cursor: pointer;
  }
  .burguer {
    width: 50px;
  }
  .burguer:before,
  .burguer:after,
  .burguer div {
    background: #252525;
    content: "";
    display: block;
    height: 8px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  #toggle:checked ~ div label .burguer:before {
    transform: translateY(7px) rotate(135deg);
  }
  #toggle:checked ~ div label .burguer:after {
    transform: translateY(-7px) rotate(-135deg);
  }
</style>
