---
import { Image } from "astro:assets";
import logo from "../../../public/icons/The-GodFunded-logo.svg";
---

<div class="flex bg-[#e9e9e9] w-full h-[100px] justify-between">
  <a href="./">
    <Image src={logo} alt="Logo" class="p-4 ml-6 h-full w-auto" />
  </a>
  <ul
    class="flex self-center mr-16 gap-16 text-2xl grow-1 text font-bold text-[#212121]"
  >
    <li>Reseñas</li>
    <li>Ofertas</li>
    <li>Listas</li>
    <li>Trading</li>
  </ul>
</div>

<style>
  li {
    cursor: pointer;
  }
</style>
