---
import hero_image from "@/images/Lists-hero.jpg";
import Layout from "@/layouts/Layout.astro";
import GridList from "@/components/lists/GridList.astro";
import HeroPage from "@/components/HeroPage.astro";
---

<Layout title="Reseñas">
  <main class="min-h-[85vh]">
    <HeroPage hero_image={hero_image} title="Listas">
      Si ya tienes claro que tipo de cuenta fondeada necesitas, no pierdas el
      tiempo buscando una a una. Utiliza nuestras listas para para saber que
      empresas se ajustan a tus requerimientos.
    </HeroPage>
    <div class="flex flex-col items-center justify-center">
      <GridList />
    </div>
  </main>
</Layout>
