---
import hero_image from "public/images/Promotions-hero.webp";
import Layout from "@/layouts/Layout.astro";
import GridPromo from "../components/promos/GridPromo.astro";
import HeroPage from "@/components/HeroPage.astro";
---

<Layout title="Reseñas">
  <main>
    <HeroPage hero_image={hero_image} title="Promociones">
      Nunca más vuelva a dejar pasar las mejores oportunidades. En The GodFunded
      actualizamos diariamente las promociones de todas las compañias de fondeo.
      Paga lo mínimo y mejora la rentabilidad de tu trading.
    </HeroPage>
    <div class="flex flex-col items-center justify-center">
      <GridPromo />
    </div>
  </main>
</Layout>
