---
import hero_image from "../../public/images/Detective-office.webp";
import Layout from "@/layouts/Layout.astro";
import GridReview from "../components/promos/GridReview.astro";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout title="Reseñas">
  <main>
    <HeroSection hero_image={hero_image} />
    <div class="flex justify-center md:mb-[80px] xs:mb-[40px] mb-[30px]">
      <GridReview />
    </div>
  </main>
</Layout>
