---
import { Image } from "astro:assets";
import hero_image from "../../public/images/Detective-office.webp";
import Layout from "@/layouts/Layout.astro";
import GridReview from "../components/promos/GridReview.astro";
---

<Layout title="Reseñas">
  <main>
    <div
      class="xs:h-[300px] overflow-hidden shadow-[0_3px_3px_0px_rgba(50,50,0,0.5)] relative ls:mb-[80px] md:mb-[60px] sm:mb-[50px] xs:mb-[40px] mb-[20px]"
    >
      <div
        class="absolute z-10 top-[50%] left-[50%] text-center translate-x-[-50%] translate-y-[-50%] text-light-grey greatVibes"
      >
        <h1 class="w-full text-center lg:text-8xl sm:text-7xl text-6xl">
          Reviews
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="lg:object-contain min-w-full lg:h-auto h-full object-cover scale-110 lg:translate-y-[-180px] lg:translate-x-[50px]"
        />
      </div>
    </div>
    <div class="flex justify-center md:mb-[80px] xs:mb-[40px] mb-[30px]">
      <GridReview />
    </div>
  </main>
</Layout>
