---
import hero_image from "@/images/Reviews-hero.webp";
import Layout from "@/layouts/Layout.astro";
import GridReview from "@/components/reviews/GridReview.astro";
import HeroPage from "@/components/HeroPage.astro";
---

<Layout title="Reseñas">
  <main class="min-h-[85vh]">
    <HeroPage
      hero_image={hero_image}
      title="Reviews"
      extraClassImage="lg:translate-y-[-180px] lg:translate-x-[50px]"
    >
      Toda la información sobre las mejores prop firms a un solo click de
      distancia. No dejes pasar ningún detalle por alto. Gracias a nuestras
      reseñas podrás tomar la decisión correcta y elegir la empresa de fondeo
      que mejor se adapta a tus necesidades. Puede marcar la diferencia entre el
      fracaso y el éxito.
    </HeroPage>
    <div class="flex flex-col items-center justify-center">
      <GridReview />
    </div>
  </main>
</Layout>
