---
import hero_image from "../../public/images/Detective-office.webp";
import Layout from "@/layouts/Layout.astro";
import GridReview from "../components/promos/GridReview.astro";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout title="Reseñas">
  <main class="min-h-[85vh]">
    <HeroSection
      hero_image={hero_image}
      title="Reviews"
      extraClassImage="lg:translate-y-[-180px] lg:translate-x-[50px]"
    />
    <div
      class="flex flex-col items-center justify-center"
    >
      <GridReview />
    </div>
  </main>
</Layout>
