---
import { Image } from "astro:assets";
import hero_image from "../../public/images/Archive-hero.webp";
import Layout from "@/layouts/Layout.astro";
import GridSelection from "../components/promos/GridSelection.astro";
---

<Layout title="Reseñas">
  <main>
    <div
      class="h-[300px] overflow-hidden shadow-[0_3px_3px_0px_rgba(50,50,0,0.5)] relative"
    >
      <div
        class="absolute z-10 top-[50%] left-[50%] text-center translate-x-[-50%] translate-y-[-50%] text-light-grey greatVibes w-[40%]"
      >
        <h1
          class="w-full translate-x-[0px] translate-y-[0px] text-center text-8xl"
        >
          Selecciones
        </h1>
      </div>
      <div class="h-full">
        <Image
          src={hero_image}
          alt="Hero image"
          class="object-cover scale-110 translate-y-[-180px] translate-x-[50px]"
        />
      </div>
    </div>
    <GridSelection />
  </main>
</Layout>
