---
import hero_image from "../../public/images/Archive-hero.webp";
import Layout from "@/layouts/Layout.astro";
import GridSelection from "../components/promos/GridSelection.astro";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout title="Reseñas">
  <main>
    <HeroSection hero_image={hero_image} />
    <div class="flex justify-center">
      <GridSelection />
    </div>
  </main>
</Layout>
