---
import { getPathnameItems } from "@/utils";

interface Props {
  altTitle?: string;
  altUrl?: string;
  altIndex?: number;
}

const { altTitle, altUrl, altIndex } = Astro.props;

const breadcrumbsItems = getPathnameItems(Astro.url.pathname);

if (altTitle && altIndex) {
  breadcrumbsItems[altIndex].title = altTitle;
  if (altUrl) breadcrumbsItems[altIndex].url = altUrl;
}
---

<nav
  class=""
>
  <ol class="flex flex-wrap">
    {
      breadcrumbsItems.map((item, index) => (
        <li class="lg:text-xl md:text-xl text-lg text-[#FFF]">
          {index > 0 && <span class="ml-[8px] mr-[4px]">{">"}</span>}
          {index < breadcrumbsItems.length - 1 ? (
            <a href={item.url}>
              {item.title.charAt(0).toUpperCase() + item.title.slice(1)}
            </a>
          ) : (
            <span class="text-medium-grey">
              {item.title.charAt(0).toUpperCase() + item.title.slice(1)}
            </span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
