---
interface Props {
  items: { title: string; url: string }[];
}

const { items } = Astro.props;
---

<nav>
  <ol>
    {
      items.map((item, index) => (
        <li>
          <a href={item.url}>{item.title}</a>
        </li>
      ))
    }
  </ol>
</nav>
