---
import { firms } from "@/libs/data/firms";
import CardReview from "../cards/CardReview.astro";

const keys = Object.keys(firms);

const defaultLogoPath = firms.FTMO.logoText;
---

<div class="grid grid-cols-4 w-[1200px] gap-[40px]">
  {
    keys.map((key) => (
      <CardReview logo={firms[key].logoText || defaultLogoPath} />
    ))
  }
</div>
