---
import { firms } from "@/libs/data/firms";
import CardReview from "../cards/CardReview.astro";

const keys = Object.keys(firms);

const defaultLogoPath = firms.FTMO.logoText;
---

<div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 responsive-section sm:gap-[40px] gap-[20px] mx-[20px]">
  {
    keys.map((key) => (
      <CardReview
        logo={firms[key].logoText || defaultLogoPath}
        isReview={firms[key].hasReview}
        id={key}
      />
    ))
  }
</div>
