---
import { firms } from "@/libs/data/firms";
import CardReview from "../cards/CardReview.astro";

const keys = Object.keys(firms);

const defaultLogoPath = firms.FTMO.logoText;
---

<div class="mb-[80px] flex flex-col lg:gap-[40px] md:gap-[30px] gap-[20px] responsive-section md:mx-[40px] xs:mx-[30px] mx-[20px]
border-[#FFF] border-[6px] md:p-[30px] xs:p-[25px] p-[20px] rounded-xl shadow-xl bg-ligther-grey lg:m-[40px] xs:m-[30px] m-[20px]">
  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-[20px]">
    {
      keys.map((key) => (
        <CardReview
          logo={firms[key].logoText || defaultLogoPath}
          isReview={firms[key].hasReview}
          id={key}
        />
      ))
    }
  </div>
</div>
