---
import CardFirmPromo from "../cards/CardFirmPromo.astro";
import { firms } from "@/libs/data/firms";

const keys = Object.keys(firms);
---
<div class="flex flex-col responsive-section margin-section
design-section">
  <div
    class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 lg:gap-[40px] md:gap-[30px] gap-[20px]"
  >
   {keys.sort().map((key) => <CardFirmPromo firm={firms[key]} key={key} />)}
  </div>
</div>
