---
import CardFirmPromo from "../cards/CardFirmPromo.astro";
import { firms } from "@/libs/data/firms";

const keys = Object.keys(firms);
---

<div
  class="responsive-section lg:m-[40px] xs:m-[30px] m-[20px] flex flex-col items-center justify-center gap-[40px]"
>
  <div
    class="grid xl:grid-cols-5 justify-center lg:gap-[50px]
    xs:gap-[40px] gap-[25px]
    lg:grid-cols-4 md:grid-cols-3 grid-cols-2
    md:p-[50px] xs:p-[40px] p-[20px]
  border-[#FFF] border-[6px] rounded-xl shadow-xl bg-ligther-grey"
  >
    {keys.map((key) => <CardFirmPromo firm={firms[key]} key={key} />)}
  </div>
</div>
