---
import {
  featureSelection,
  instrumentSelection,
  softwareSelection,
  brokerSelection,
} from "@/libs/data/selections";
import GridContainer from "@/components/selections/GridContainer.astro";
---

<div
  class="flex flex-col lg:gap-[40px] md:gap-[30px] gap-[20px] responsive-section margin-section"
>
  <GridContainer
    selections={featureSelection}
    type="feature"
    title="Reglas y características"
    startColor="#D95613"
    endColor="#d3a717"
  />
  <GridContainer
    selections={instrumentSelection}
    type="instrument"
    title="Instrumentos"
    endColor="#649cef"
    startColor="#5654bc"
    shadowColor="blue"
  />
  <GridContainer
    selections={softwareSelection}
    type="software"
    title="Software"
    startColor="#46823b"
    endColor="#38c168"
    shadowColor="green"
  />
  <GridContainer
    selections={brokerSelection}
    type="broker"
    title="Broker"
    startColor="#454545"
    endColor="#b2b2b2"
    shadowColor="grey"
  />
</div>
