<section>
  <div
    class="flex flex-col items-center justify-center lg:m-[40px] xs:m-[30px] m-[20px]"
  >
    <div
      class="responsive-section
    flex flex-col items-center justify-center gap-[40px]"
    >
      <div
        class="md:p-[50px] xs:p-[40px] p-[20px] border-[#FFF]
        border-[6px] rounded-xl shadow-xl bg-ligther-grey"
      >
        <slot />
      </div>
    </div>
  </div>
</section>
