---
import hero_image from "../../public/images/Detective-office.webp";
import Layout from "@/layouts/Layout.astro";
import HeroPage from "@/components/HeroPage.astro";
---

<Layout title="Reseñas">
  <main class="flex flex-col justify-center items-center min-h-[85vh]">
    <HeroPage
      hero_image={hero_image}
      title="Review"
      extraClassImage="lg:translate-y-[-180px] lg:translate-x-[50px]"
      altIndex={1}
      altTitle="Reviews"
      altUrl="/reviews"
    />
    <div
      class="mb-[80px] flex flex-col lg:gap-[40px] md:gap-[30px] gap-[20px] responsive-section md:mx-[40px] xs:mx-[30px] mx-[20px] items-center"
    >
      <slot />
    </div>
  </main>
</Layout>
